# Merged .gitignore rules
# Rules from ./computational-physics-2/.gitignore

# Rules from ./special-topics-comp-phys/.gitignore

# Rules from ./computational-physics-1/.gitignore
computational-physics-1/classwork-exams/figures-midterm/*.png
computational-physics-1/classwork-exams/TURB_DRIVE_SUP_hr
computational-physics-1/classwork-exams/AM0AM1_5.csv
computational-physics-1/classwork-exams/h030.csv
computational-physics-1/classwork-exams/galaxies_distance.png
computational-physics-1/classwork-exams/NGC_5765_legacy_survey.fits
computational-physics-1/classwork-exams/orbital_positions.csv
computational-physics-1/classwork-exams/Quantities.csv
computational-physics-1/classwork-exams/peaks.csv
computational-physics-1/classwork-exams/sunspots.txt
computational-physics-1/classwork-exams/weather-balloon-data.csv
computational-physics-1/classwork-exams/First_View_of_Earth_from_Moon3.jpeg
computational-physics-1/classwork-exams/j094242-7731_gass_spectra.txt
computational-physics-1/Animation
computational-physics-1/data
computational-physics-1/output_analysis
computational-physics-1/output_energies
computational-physics-1/output_histograms
computational-physics-1/output_maps

files-manager
