

claswork-exams/figures-midterm/*.png
claswork-exams/TURB_DRIVE_SUP_hr
claswork-exams/AM0AM1_5.csv
claswork-exams/h030.csv
claswork-exams/galaxies_distance.png
claswork-exams/NGC_5765_legacy_survey.fits
claswork-exams/orbital_positions.csv
claswork-exams/Quantities.csv

Animation
data
output_analysis
output_energies
output_histograms
output_maps

