classwork-exams/figures-midterm/*.png
classwork-exams/TURB_DRIVE_SUP_hr
classwork-exams/AM0AM1_5.csv
classwork-exams/h030.csv
classwork-exams/galaxies_distance.png
classwork-exams/NGC_5765_legacy_survey.fits
classwork-exams/orbital_positions.csv
classwork-exams/Quantities.csv
classwork-exams/peaks.csv
classwork-exams/sunspots.txt
classwork-exams/weather-balloon-data.csv
classwork-exams/First_View_of_Earth_from_Moon3.jpeg
classwork-exams/j094242-7731_gass_spectra.txt

extra-material/CapeGrim_CH4_data_download.csv
extra-material/CapeGrim_CO2_data_download.csv
extra-material/CapeGrim_N2O_data_download.csv
extra-material/radiative_forcing_temperature_anomaly.csv
extra-material/temperature-anomaly.csv
extra-material/TURB_DRIVE_SUP_hr
extra-material/TURB_DRIVE_SUB_hr
extra-material/output_data
extra-material/vtk_data
extra-material/midterm_output_data
extra-material/Orszag_Tang-MHD
extra-material/herringbone-mri-artifact.jpg


Animation
data
output_analysis
output_energies
output_histograms
output_maps

