

classwork-exams/figures-midterm/*.png
classwork-exams/TURB_DRIVE_SUP_hr
classwork-exams/AM0AM1_5.csv
classwork-exams/h030.csv
classwork-exams/galaxies_distance.png
classwork-exams/NGC_5765_legacy_survey.fits
classwork-exams/orbital_positions.csv
classwork-exams/Quantities.csv
classwork-exams/peaks.csv
classwork-exams/sunspots.txt
classwork-exams/weather-balloon-data.csv
classwork-exams/First_View_of_Earth_from_Moon3.jpeg
classwork-exams/j094242-7731_gass_spectra.txt


Animation
data
output_analysis
output_energies
output_histograms
output_maps

